<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>
</head>
<body>

<header id="header">
    <div id="logo" class="h2">watson</div>
    <div id="user-info" class="pull-right"><br>username</div>
    <div class="text-center">
        <input type="text" name="query" id="query" placeholder="e.g. santa monica">
    </div>
</header>

</body>
</html>
