<html ng-app="watson">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script type="text/javascript">

function collateTimeout(callback, timeout) {
    var timeoutId;
    return function () {
        if (timeoutId != null) {
            clearTimeout(timeoutId);
        }
        timeoutId = setTimeout(function () {
            callback();
        }, timeout);
    };
}

var watson = angular.module('watson', []);

watson.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
});

watson.controller('WatsonCtrl', function ($scope, $http) {
    $scope.uid = '{{ uid }}';
    $scope.isLoading = false;
    $scope.results = [];
    var pageSize = 10;
    var max = 0;
    $scope.allResults = [];
    $scope.search = {};
    $scope.error;
    
    $scope.loadMore = function() {
        var limit = max += pageSize;
        limit = Math.min($scope.allResults.length, limit);
        $scope.results = $scope.allResults.slice(0, limit);
    };

    function search(query) {
	    $http.get("/api/search?query=" + encodeURIComponent(query), {})
	    .success(function (data, status, headers, config) {
		$scope.allResults = data;
		console.log(data);
        $scope.loadMore();
	    }).error(function (data, status, headers, config) {
		$scope.error = "Failed to load images";
	    }).finally(function () {
		$scope.isLoading = false;
	    });
    }
    
    $scope.keyup = collateTimeout((function () {
        var previousQuery;
        return function () {
            var query = $scope.search.query.trim();
            if (!query || query === previousQuery) return;
            previousQuery = query;
            $scope.isLoading = true;
            $scope.results = [];
            $scope.moveAvailable = false;
            $scope.error = null;
	    search(query);
        };
    }()), 400);
    
    search();
});
    
    </script>
</head>
<body ng-controller="WatsonCtrl">

<header id="header">
    <div id="logo" class="h2">watson <span class="subheader">Your clever photo butler</span></div>
    <div id="user-info" class="pull-right"><br>{{ user.display_name }}</div>
    <div class="text-center">
        <input type="text" name="query" id="query" placeholder="e.g. near santa monica" ng-model="search.query" ng-keyup="keyup()" ng-init="preload()">
    </div>
</header>

<div id="content">
    <div class="flash flash-error on-error" ng-show="error">[[error.message]]</div>
    <div id="loading-layover on-loading" ng-show="isLoading">
        <h4 class="text-center">Making history</h4>
        <div class="spinner"></div>
    </div>
    <div id="columns" ng-show="results.length !== 0">
        <div class="pin" ng-repeat="result in results"><img src='https://watson.codef.in/thumbnails/[[uid]][[result.filename.split("/").pop()]]'/></div>
    </div>
    <div class="flash" ng-show="results.length === 0 && !isLoading">No results</div>
</div>

<div id="footer" class="text-center">
    <a id="load-more" class="btn btn-sm" ng-click="loadMore()" ng-show="allResults.length > results.length">Load more</a>
</div>
</body>
</html>
