*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

h1, .h1 {
    font-size: 3em; /* 48 / 16 */
    line-height: 1em; /* 48 / 48 */
    margin-bottom: .5em; /* 24 / 48 */
}

h2, .h2 {
    font-size: 2.25em; /* 36 / 16 */
    line-height: 1.333333333333333em; /* 48 / 36 */
    margin-bottom: .6666666666666667em; /* 24 / 36 */
}

h3, .h3 {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1em; /* 24 / 24 */
    margin-bottom: 1em; /* 24 / 24 */
}

h4, .h4 {
    font-size: 1.3125em; /* 21 / 16 */
    line-height: 1.142857142857143em; /* 24 / 21 */
    margin-bottom: 1.142857142857143em; /* 24 / 21 */
}

h5, .h5 {
    font-size: 1.125em; /* 18 / 16 */
    line-height: 1.333333333333333em; /* 24 / 18 */
    margin-bottom: 1.333333333333333em; /* 24 / 18 */
}

h6, .h6 {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}
p {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    display: inline-block;
    padding-right: 0.5em;
}

ul.navigation li:last-child {
    padding-right: 0;
}

.col-collection {
    margin: -0.5em;
}

.col-collection > * {
    display: inline-block;
}

.col-sm-12, .col-md-6 {
    padding: 0.5em;
}

@media (min-width: 48em) {
    body {
        margin: 0 auto;
        width: 44em;
    }
    
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 61em) {
    .col-md-6 {
        width: 50%;
    }
}

body > header {
    padding-bottom: 1em;
}

#header #logo {
    display: inline-block;
}

#query {
    border: 1px solid lightgrey;
    border-radius: 0.25em;
    font-size: 2em;
    outline: none;
    padding: 0.5em;
    width: 75%;
}

#query:focus {
    border-color: teal;
}
