*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    color: #444;
}

body, input[type="text"] {
    font-family: 'Muli', sans-serif;
}

h1, .h1 {
    font-size: 3em; /* 48 / 16 */
    line-height: 1em; /* 48 / 48 */
    margin-bottom: .5em; /* 24 / 48 */
}

h2, .h2 {
    font-size: 2.25em; /* 36 / 16 */
    line-height: 1.333333333333333em; /* 48 / 36 */
    margin-bottom: .6666666666666667em; /* 24 / 36 */
}

h3, .h3 {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1em; /* 24 / 24 */
    margin-bottom: 1em; /* 24 / 24 */
}

h4, .h4 {
    font-size: 1.3125em; /* 21 / 16 */
    line-height: 1.142857142857143em; /* 24 / 21 */
    margin-bottom: 1.142857142857143em; /* 24 / 21 */
}

h5, .h5 {
    font-size: 1.125em; /* 18 / 16 */
    line-height: 1.333333333333333em; /* 24 / 18 */
    margin-bottom: 1.333333333333333em; /* 24 / 18 */
}

h6, .h6 {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}

p {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}

.subheader {
    font-size: 0.5em;
    color: grey;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.flash {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    text-align: center;
    width: 50%;
    margin: 0 auto 1em;
}

.flash.flash-error {
    background-color: #B23D40;
    color: white;
}

.flash.flash-notice {
    
}

.btn {
    border: 1px solid lightgrey;
    border-radius: 0.25em;
    outline: none;
    padding: 0.5em;
}

.btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.btn.btn-sm {
    font-size: 0.75em;
}

.corset {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.spinner {
    width: 30px;
    height: 30px;
    background-color: #2895f1;

    margin: 1em auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#loading-layover {
    opacity: 1.0;
    transition: all 0.3s;
}

.fly-away * {
    opacity: 0.0;
    transition: opacity 0.3s;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    display: inline-block;
    padding-right: 0.5em;
}

ul.navigation li:last-child {
    padding-right: 0;
}

.col-collection {
    margin: -0.5em;
    white-space: nowrap;
}

.col-collection > * {
    float: left;
}

.col-sm-12, .col-md-6, .col-md-4 {
    padding: 0.5em;
}

@media (min-width: 48em) {
    body {
        margin: 0 auto;
        width: 44em;
    }
    
    .col-sm-12 {
        width: 100%;
    }
    
    .col-sm-6 {
        width: 100%;
    }
}

@media (min-width: 61em) {
    .col-md-6 {
        width: 50%;
    }
    
    body {
        width: 55em;
    }
}

@media (min-width: 80em) {
    body {
        width: 76em;
    }
}

body > header {
    padding: 1em 0;
}

#header #logo {
    color: #2895f1;
    display: inline-block;
}

#query {
    border: 1px solid lightgrey;
    border-radius: 0.25em;
    font-size: 2em;
    outline: none;
    padding: 0.5em;
    width: 75%;
    transition: all 0.3s;
}

#query:focus {
    border-color: #2895f1;
}



#columns {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #eee);
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
}

.pin p {
	color: #333;
	margin: 0;
}

#footer {
    min-height: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (min-width: 50em) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 90em) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

